export(lambda_from_median)
export(median_sum_exp)
export(simulate_one_trial)
export(analyse_trial)
export(run_grid_simulation)
export(auto_base_size)
export(auto_limits)
export(theme_pos_sci)
export(auto_legend_position)
export(plot_pos_lines)
export(plot_pos_summary)
export(set_api_url)
export(get_api_url)
importFrom(httr,POST)
importFrom(httr,content)
importFrom(httr,content_type_json)
importFrom(httr,status_code)
importFrom(jsonlite,toJSON)
importFrom(jsonlite,fromJSON)
